body {
    background-color: #414447;
    color: #e4f1f3;
}
a {
    color: #ececec;
}
a:hover {
    color: #0052cb;
}

hr {

    border: 0.5px solid #e4f1f3;
}

#nav-title {
    padding: 13px;
}
nav {
    background-color: #0052cb;
    font-family: Ubuntu;

}
.navbar-light .navbar-nav .nav-link {
    color: #ececec;
}
#page-content {
    padding-top: 30px;
    padding-bottom: 50px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #646464;
    color: white;
}

td, th {
    border: 1px solid #2b2b2b;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #626669;
}

tr:nth-child(even) {
    background-color: #9b9b9b;
}


/* SIDEBAR */
#sidebar {
    position: fixed;
    padding-top: 8%;
}
